*.pyc
__pycache__
/.mypy_cache/
/.pytest_cache/
/.github/
/.deploy/
/.ruff_cache/
/dist/
/boffin.code-workspace
/db.sqlite3
/.git*
/.pre-commit-config.yaml
/.env
/.vscode
/.dmypy.json
/.dockerignore
/docker-compose.yaml

/Dockerfile
